<div id="bento-grid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 w-[90%] md:w-[70%] lg:w-[50%] mx-auto my-20 pb-20 min-h-[100dvh]">
    <!-- Tarjeta "¿Quién Soy?" -->
  <div class="bento-item sm:col-span-2 sm:row-span-2 rounded-2xl text-white bg-cover bg-no-repeat bg-left-center relative p-6 pb-6 overflow-hidden group">
      <img src="/ojo.webp" alt="¿Quién Soy?" class="absolute inset-0 w-full h-full object-cover rounded-2xl z-0" loading="lazy" />
      <div class="absolute inset-0 bg-black/50 rounded-2xl transition-opacity duration-300 group-hover:opacity-0"></div>
      <h3 class="text-5xl md:text-9xl font-bold relative z-10 text-[#f2f23f] transition-opacity duration-300 group-hover:opacity-0">
        ¿Quién Soy?
      </h3>
      <div class="absolute inset-0 flex flex-col items-start justify-center bg-gray-950 text-white text-lg p-10 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <h3 class="text-5xl font-bold text-[#f2f23f] my-5">¿Quién Soy?</h3>
        <p class="mb-4">Soy un profesional apasionado por la ciberseguridad y el desarrollo web, con experiencia en auditorías de Ethical Hacking, pruebas de penetración en infraestructuras tradicionales y en la nube, así como en creación de aplicaciones web modernas. Mi enfoque se centra en ofrecer soluciones seguras, eficientes y adaptadas a las necesidades del cliente.</p>
        <a href="/cv/Christian_Velazquez_CV.pdf" download class="mt-4 inline-flex items-center bg-[#F2F23F] text-black font-bold py-2 px-4 rounded-lg transition duration-300 hover:bg-yellow-400">
          Descargar CV
        </a>
      </div>
    </div>
  
    <!-- Tarjeta "Proyectos" -->
  <div class="bento-item sm:col-span-1 sm:row-span-1 p-6 transition-transform duration-300 ease-out md:hover:scale-[1.03] rounded-2xl text-white bg-cover bg-center relative overflow-hidden group">
      <a href="/404">
      <img src="/ola.webp" alt="Proyectos" class="absolute inset-0 w-full h-full object-cover rounded-2xl z-0" loading="lazy" />
      <div class="absolute inset-0 bg-black/50 rounded-2xl"></div>
      <h1 class="relative z-10  h-full w-full flex items-center justify-center text-xl font-bold">
        Proyectos
      </h1>
      </a>
    </div>
  
    <!-- Tarjeta "Herramientas & Tecnologías" -->
  <div class="bento-item sm:col-span-1 sm:row-span-2 p-6 transition-transform duration-300 ease-out md:hover:scale-[1.03] rounded-2xl text-white bg-cover bg-center relative overflow-hidden group">
      <a href="/404">
      <img src="/tiempo.webp" alt="Herramientas y Tecnologías" class="absolute inset-0 w-full h-full object-cover rounded-2xl z-0" loading="lazy" />
      <div class="absolute inset-0 bg-black/50 rounded-2xl"></div>
      <h3 class="text-xl font-bold relative z-10">
        Herramientas & Tecnologías
      </h3>
    </a>
    </div>
  
    <!-- Tarjeta "Certificaciones & Cursos" -->

  <div class="bento-item transition-transform duration-300 ease-out md:hover:scale-[1.03] sm:col-span-2 sm:row-span-1 p-6 rounded-2xl text-white bg-cover bg-center relative overflow-hidden group">
      <a href="/certificaciones&cursos">
      <img src="/ajedrez.webp" alt="Certificaciones y Cursos" class="absolute inset-0 w-full h-full object-cover rounded-2xl z-0" loading="lazy" />
      <div class="absolute inset-0 bg-black/50 rounded-2xl"></div>
      <h1 class="relative z-10  h-full w-full flex items-center justify-center text-xl font-bold">
        Certificaciones & Cursos
      </h1>
      </a>
    </div>
  </div>
