<div class="flex flex-col items-center text-center pt-10">
    <div class="flex items-center gap-2">
      <svg class="w-10 h-auto" width="57" height="37" viewBox="0 0 57 37" fill="none" xmlns="http://www.w3.org/2000/svg"> 
        <path d="M57 0V37H41.5741C18.6287 37 0 20.4209 0 0L57 0Z" fill="#F2F23F"></path>
      </svg>
      <h1 class="text-white text-5xl font-bold">Christian Velásquez</h1>
    </div>
    <h2 class="text-[#f2f23f]">Pentester, Ethical Hacker, Dev Web.</h2>
  </div>

  <div id="hola">

  </div>